:root {
    --yellow: rgba(250, 225, 0);
    --gray: rgba(249, 249, 250);
    --blue: rgba(50, 73, 92);
    --horizontal-gap: 25px;
    --text-vertical-gap: 10%;
    --main-border: 1px solid rgba(0, 0, 0, 0.05);
    --alt-border: 1px solid rgba(50, 73, 92, 0.2);
}
