.music-main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.music-suggestion-bar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    box-sizing: border-box;
    padding: 0px 30px 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}
.music-suggestion-bar div {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.459);
    font-weight: 700;
}
.music-suggestion-bar div:nth-child(2) {
    margin-right: auto;
    margin-left: 25px;
}
.artist-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    width: 100%;
    margin-top: 60px;
}
.artist-profile img {
    width: 90px;
    height: 90px;
    object-position: 50% 50%;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 25px;
    box-shadow: 0px 3px 5px #cfdbd5;
}
.artist-profile h1 {
    font-size: 25px;
    font-weight: 600;
}
.artist-profile h2 {
    font-size: 15px;
    font-weight: 400;
    color: #d3ddd6;
}
.artist-profile__btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}
.artist-profile__btn div {
    display: flex;
    align-items: center;
    color: white;
    background-color: #e0ece4;
    border: 1px solid #e0ece4;
    padding: 8px 20px 5px 20px;
    border-radius: 35px;
}
.artist-profile__btn div:first-child {
    padding: 8px 30px 5px 30px;
}
.artist-profile__btn i {
    color: white;
    margin-bottom: 2.5px;
    margin-right: 8px;
}
.artist-profile__btn span {
    color: white;
}
.music-list__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
}
.music-list__row:first-child {
    padding-top: 20px;
}
.music-list__row:last-child {
    margin-bottom: 10px;
}
.music-list__row img {
    width: 50px;
    height: 50px;
    object-position: 50% 50%;
    object-fit: contain;
    border-radius: 10px;
}
.music-list__info {
    padding-left: 20px;
    margin-right: auto;
}
.music-list__info h5 {
    font-weight: 500;
}
.music-list__info h6 {
    color: #d3ddd6;
    font-size: 15px;
}
.music-list {
    margin-top: 15px;
    margin-bottom: 70px;
    height: 400px;
    width: 400px;
    overflow-x: auto;
    border: 1px solid #e0ece4;
    border-radius: 10px;
}
